body {
  color: #660000;
}
.navbar {
  padding: 1rem;
  background-color: #ff4d4d;
}
.footer {
  padding: 1rem;
}

.btn-primary:hover {
  background-color: #ff4d4d;
  color: white;
}

.hero-background-img {
  position: relative;
  background: rgba(0, 0, 0, 0.1); /* If our image is bright, we can tone it down with this darker overlay */
  padding-top:200px;
  padding-bottom:200px;
}

.hero-background-img:after {
  content: "";
  position: absolute;
  background-image: url("sauce.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.9; /* Tone the image down further by giving it transparency */
}

.title, .lead {
  color: white;
}

.home_list,  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.home_list li{
  float: left
}

.feature-background-img {
  background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
  background-position: center;
}

.about-background-img {
  background-image: url("https://images.unsplash.com/photo-1517856713891-215e57a13c0d?ixlib=rb-1.2.1&w=1000&q=80");
  background-position: center;
}

.about-img {
  width: 50%;
  margin: 0 auto;
  height: auto;
  border: 1px;
  border-color: none;
  border-radius: 5px;
}
