body {
  color: #660000;
}
.navbar {
  padding: 1rem;
  background-color: #ff4d4d;
}
.footer {
  padding: 1rem;
}

.btn-primary:hover {
  background-color: #ff4d4d;
  color: white;
}

.hero-background-img {
  position: relative;
  background: rgba(0, 0, 0, 0.4); /* If our image is bright, we can tone it down with this darker overlay */
  padding-top:200px;
  padding-bottom:200px;
}

.hero-background-img:after {
  content: "";
  position: absolute;
  background-image: url("sauce.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5; /* Tone the image down further by giving it transparency */
}

.title, .lead {
  color: #ff4d4d;
}
